@{
    Layout = "_MasterLayout";
    var res_getCateProduct = ViewData["res_getCateProduct"] as List<Category>;
    Category res_CateEdit = ViewData["res_CateEdit"] as Category;
}
<section id="section_contentAdmin">
    <div class="container_admin">
        <div class="row box_row p-3">
            @await Html.PartialAsync("../Shared/_DashboardAdminPage.cshtml")

            <div class="col-md-10 bg bg-light">
                <h2 class="mb-5">Danh mục  <small>thêm</small></h2>
                <form asp-action="AddCateToDB" asp-controller="Admin" method="post">
                    <div class="form-group">
                        <label for="name_cate">Tên danh mục:</label>
                        <input name="name_cate" type="text" class="form-control w-25" id="name_cate" placeholder="Nhập tên danh mục" ><br>
                        <label for="icon_cate">Icon danh mục:</label>
                        <input name="icon_cate" type="text" class="form-control w-25" id="icon_cate" placeholder="Nhập icon của danh mục" ><br>
                    </div>

                    <button type="submit" class="btn btn-primary">Thêm</button>
                    <a asp-action="AdminListCate" asp-controller="Admin" class="btn btn-danger">Hủy</a>
                </form>
            </div>
        </div>
    </div>
</section>
@{
    var mes_success = NetProject.Session.SessionFunction.GetString(Context.Session, "mes_err");
}
   
<!-- Feed back-->
<div class="modal fade" id="checkout_success">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 110px">

            <h3 class="text-success">@mes_success</h3>

        </div>
    </div>
</div>
<a href="#" id="btnSuccess" data-target="#checkout_success" data-toggle="modal" data-dismiss="modal"></a>
