<footer class="pt-5 pb-4" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold">VỀ CHÚNG TÔI</h5>
                <p class="mb-4">Sản phẩm tự tạo đầu tiên của nhóm.</p>
                <ul class="f-address">
                    <li>
                        <div class="row">
                            <div class="col-1"><i class="fas fa-map-marker"></i></div>
                            <div class="col-10">
                                <h6 class="font-weight-bold mb-0">Địa chỉ:</h6>
                                <p>Trường ĐH. Nông Lâm TPHCM, Phường Linh Trung, Quận Thủ Đức.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-1"><i class="far fa-envelope"></i></div>
                            <div class="col-10">
                                <h6 class="font-weight-bold mb-0">Bạn muốn đặt câu hỏi?</h6>
                                <p><a href="#">shopDD@gmail.com</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-1"><i class="fas fa-phone-volume"></i></div>
                            <div class="col-10">
                                <h6 class="font-weight-bold mb-0">Số điện thoại liên lạc:</h6>
                                <p><a href="#">+84 833 532 303</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold">THÀNH VIÊN SÁNG LẬP</h5>
                <ul class="f-address">

                    <div class="row mb-2">
                        <div class="col-2"><img height="40px" width="30px" src="/project/image/user/72074542_694597854388218_3927782170973700096_o.jpg"></div>
                        <div class="col-10">
                            <p class="mb-0"><a href="#">Huỳnh Khương Duy</a></p>
                            <p>17130037@st.hcmuaf.edu.vn</p>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-2"><img height="40px" width="30px" src="/project/image/user/57909070_133263474421367_1179883969261338624_o.jpg"></div>
                        <div class="col-10">
                            <p class="mb-0"><a href="#">Huỳnh Khánh Dư</a></p>
                            <p>17130028@st.hcmuaf.edu.vn</p>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-2"><img height="40px" width="30px" src="/project/image/user/67214794_2828616310489030_8722671509765619712_o.jpg"></div>
                        <div class="col-10">
                            <p class="mb-0"><a href="#">Trần Duy Khang</a></p>
                            <p>17130096@st.hcmuaf.edu.vn</p>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold">LẦN CẬP NHẬT GẦN NHẤT</h5>
                <ul class="recent-post">
                    <li>
                        <label class="mr-3">30 <br><span>APR</span></label>
                        <span>Cập nhật tính năng phóng to ảnh sản phẩm.</span>
                    </li>
                    <li>
                        <label class="mr-3">29 <br><span>APR</span></label>
                        <span>Sửa lỗi không đọc được bình luận sản phẩm.</span>
                    </li>
                    <li>
                        <label class="mr-3">28 <br><span>APR</span></label>
                        <span>Sửa lỗi không hiển thị lịch sử mua hàng.</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                <h5 class="mb-4 font-weight-bold">KẾT NỐI VỚI CHÚNG TÔI</h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Địa chỉ Email của bạn">
                    <span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
                </div>
                <ul class="social-pet mt-4">
                    <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright -->
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center text-white">
                    &copy; 2018 Your Company. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    window.onload = function () {
        document.getElementById("setURL_login").value = window.location.href;
        document.getElementById("setURL_signUp").value = window.location.href;
    };

    var myInput = document.getElementById("password_signUp");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function() {
        document.getElementById("message_signUp").style.display = "block";
    };

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function() {
        document.getElementById("message_signUp").style.display = "none";
    };

    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if(myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    };

    $('#password_signUp, #confirm_password').on('keyup', function () {
        if ($('#password_signUp').val() == $('#confirm_password').val()) {
            $('#message_err').html('Phù hợp').css('color', 'green');
        } else
            $('#message_err').html('Chưa phù hợp').css('color', 'red');
    });

    function validateMyForm()
    {
        if(document.getElementById('password_signUp').value != document.getElementById('confirm_password').value)
        {
            alert("Chưa nhập đúng yêu cầu");
            event.preventDefault();
            return false;
        }

        return true;
    }

    //Get the button
    var mybutton = document.getElementById("btnBackTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function ajaxAddProductQty(id_pro, qty) {
        var xhttp;
        if (id_pro == "") {
            document.getElementById("txtDetail").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("show_miniCart").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "http://localhost:8080/ProjectWeb/AddQtyCart?id_product=" + id_pro +"&qty="+qty, true);
        xhttp.send();

    }

    function ajaxSerch(key_word) {
        var xhttp;
        if (key_word == "") {
            document.getElementById("show_resultSearch").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("show_resultSearch").innerHTML = this.responseText;
                showResultSearch();
            }
        };
        xhttp.open("GET", "http://localhost:8080/ProjectWeb/AjaxSerch?key_word=" + key_word, true);
        xhttp.send();

    }

    function showResultSearch() {
        if(document.getElementById('getSearch').value != " "){
            document.getElementById('res_Search').style.display = "block";
        } else {
            document.getElementById('res_Search').style.display = "none";
        }
    }

    $('.promotion-banner').owlCarousel({
        stagePadding: 50,
        loop:true,
        autoplay: true,
        autoplayHoverPause: true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:1,
                stagePadding: 10,
                dots: false
            },
            400:{
                items:1,
                stagePadding: 30,
                dots: false
            },
            500:{
                items:1,
                stagePadding: 120,
                autoplay: false,
                margin: 60,
                dots: false
            },
            560:{
                items:2,
                dots: false
            },
            800:{
                items:3,
                dots: false
            },
            1200:{
                items:4,
                dots: true
            },
        }
    });

    $('.phone-banner').owlCarousel({
        stagePadding: 20,
        loop:true,
        autoplay: true,
        autoplayHoverPause: true,
        margin: 30,
        nav:true,
        responsive:{
            0:{
                items:1,
                stagePadding: 10,
                autoplay: false,
                dots: false
            },
            400:{
                items:1,
                stagePadding: 30,
                autoplay: false,
                dots: false
            },
            500:{
                items:1,
                stagePadding: 100,
                autoplay: false,
                margin: 80,
                dots: false
            },
            560:{
                items:2,
                stagePadding: 30,
                dots: false
            },
            800:{
                items:3,
                dots: false
            },
            1200:{
                items:4,
                dots: true
            },
        }
    });

</script>
<script>
    jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function() {
        var spinner = jQuery(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

        btnUp.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

        btnDown.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

    });
</script>
<script src="/project/css/drift-master/dist/Drift.js"></script>
<script type="text/javascript" src="/project/js/myJS/duyjs.js"></script>
